.try {
    width: 50%;
    height: 50%;
    border-radius: 10%;
    background: #ac98b9;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgb(238, 204, 204) 50%, rgba(252, 176, 69, 1) 100%);
    margin: auto;
    display: flex;flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 4%;
    border-color: transparent;
    border-radius: 6px;

}

form {
    display: flex;
    flex-direction: column;
    


}

button {
    background-color: rgb(200, 241, 105);
}