
.try
{

    width: 35%;
    margin-top: auto;
    border-radius: 10%;
    margin: auto;
    padding: 10%;
  background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
